@charset "UTF-8";

/* =====================
company
========================*/
.company_all {
  padding: 7%;
  display: flex;
  background: #F8F8F8;
  box-shadow: 5px 5px 4px #e3e2e2;
}

.company_list {
  width: 50%;
}

.company_item {
  margin-bottom: 2rem;
}

br {
  line-height: n;
}

.com_ttl {
  font-weight: bold;
  font-size: 1.4rem;
}

.com_txt {
  font-weight: bold;
}