@charset "UTF-8";

/* =====================
company
========================*/
.company_all {
  padding: 7%;
  display: flex;
  background: #F8F8F8;
  box-shadow: 5px 5px 4px #e3e2e2;
}

.company_list {
  width: 50%;
}

.company_item {
  margin-bottom: 2.7rem;
}


.com_ttl {
  font-weight: bold;
  font-size: 1.4rem;
}

/* =====================
Board Member
========================*/
.mem_inner{
  background-color: #441414;
  width: 72%;
  height: auto;
  padding: 3%;
  margin-left: auto;
}
#board_mem .section_ttl {
  color: #fff;
}
#board_mem .section_ttl::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 34%;
  display: inline-block;
  width: 40%;
  border-bottom: 5px solid #fff;
}
.mem_all {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.mem_item {
  width: 41%;
  height: auto;
}

.mem_item_img {
  width: 100%;
  height: auto;
}

.mem_item_img img{
  width: 100%;
  height: 100%;
}

.mem_txt {
  color: #fff;
}

.mem_txt_ttl {
  font-size: 0.95rem;
  margin: 0.5rem 0; 
}

.mem_txt_name {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* =====================
access
========================*/
.access_bg {
  position: absolute;
  top: -15%;
  right: 0;
  z-index: -1;
  background-color: #AB9999;
  width: 80%;
  height: 67vh;
}

.access_wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 5%;
}

.map {
  width: 60%;
  height: 50vh;
}

.map iframe {
  width: 100%;
  height: 100%;
}

.access_list {
  width: 40%;
}

.access_item {
  margin-left: 20%;
  margin-bottom: 10%;
}

.access_item:last-child {
  margin-bottom: unset;
}

.access_ttl {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
/* =====================
レスポンシブ  1024
========================*/
@media screen and (max-width: 1024px) {
  .fv_txt_wrapper_2 {
    height: 48vh;
  }

  .fv_ttl_wrapper {
    height: 48vh;
  }

  .access_bg {
    height: 60vh;
  }
}