@charset "UTF-8";

body {
  font-size: 18px;
  color: #000;
  letter-spacing: 0.03em;
  font-family: 'Noto Serif JP', serif;
  line-height: 1.3;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}
/* =====================
共通レイアウト
========================*/

.section {
  margin: 15% 0;
  position: relative;
}

.inner {
  width: 80%;
  height: auto;
  margin: 0 auto;
  /* background-color: aqua; */
}

/* =====================
共通パーツ
========================*/

.section_ttl {
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 4.5%;
  padding: 1%;
}

.section_ttl::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 34%;
  display: inline-block;
  width: 40%;
  border-bottom: 5px solid #A71414;
}

.btn {
  width: 25%;
  margin: 0 auto;
}

.btn a {
  text-align: center;
  color: #fff;
  background: #210E0E;
  font-weight: bold;
  line-height: 4;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 0.5s;
}

.btn a:hover {
  opacity: 0.8;
  transition: all 0.5s;
}
/* =====================
header
========================*/
header {
  background: #000;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7%;
}

.header_logo {
  width: 20%;
}
.header_logo img {
  width: 100%;
  height: 100%;
}

.header_nav {
  width: 60%;
  height: auto;
}

.header_nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;

}

.header_nav ul li {
  padding: 1.5% 6%;
  border-left: solid 1px #fff;
}

.header_nav ul li:last-child {
  border-right: solid 1px #fff;
}

.header_nav ul li a {
  display: block;
  color: #fff;
  font-weight: bold;
}

.header_nav ul li a:hover {
  color: #AB9999;
}

header .drawer {
  visibility: hidden;
}

/* =====================
footer
========================*/

footer {
  background: #000;
  padding: 2%;
  text-align: center;
}

.footer_logo {
  margin: 0 auto;
  width: 15%;
  height: auto;
}

.footer_logo img {
  width: 100%;
  height: 100%;
}

.footer_list {
  width: 70%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3.5% auto;
}

.footer_list li {
  padding: 1% 6%;
  border-left: solid 1px #fff;
}

.footer_list li:last-child {
  border-right: solid 1px #fff;
}

.footer_list li a {
  color: #fff;
  font-size: 0.95rem;
}

.footer_list li a:hover {
  color: #AB9999;
}

.footer_sns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3% 0;
}

.sns_icon.sns_icon1 {
  margin-right: 2.5%;
}

.sns_icon.sns_icon1,
.sns_icon.sns_icon2 {
  font-size: 2.25rem;
}
.sns_icon a {
  color: #fff;
}

.sns_icon {
  transition: 0.2s;
}

.sns_icon:hover {
  transition: 0.2s;
  transform: translateY(-5px);
}


footer small {
  color: #fff;
  font-size: 0.8rem;
  display: block;
  margin: 1.5% 0;
}


/* =====================
レスポンシブ  768
========================*/
@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }

  .header_nav {
    width: 72%;
  }

  .inner {
    width: 90%;
  }

  /* =====================
  ハンバーガー
  ========================*/
    header .drawer {
      position: absolute;
      top: 15px;
      right: 15px;
      width: 24px;
      height: 19px;
      border-top: solid 4px #A71414;
      visibility: visible;
      cursor: pointer;
      z-index: 100;
      background-color: aqua;
    }

    header .drawer::before,
    header .drawer::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 24px;
      height: 4px;
      background-color: #A71414;
      transition: all 0.5s;
    }

  header .drawer::before {
    top: 6px;
  }
  header .drawer::after {
    top: 15px;
  }

  header .header_nav {
    display: none;
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #AB9999;
  }
  header .header_nav ul {
    display: block;
    margin: 20% 0;
    width: 100%;
  }
  header .header_nav li {
    padding: unset;
    border: unset;
    margin: 22% auto;
    text-align: center;
  }
}

/* =====================
brタグ　改行
========================*/
@media screen and (min-width: 680px) {
  .pc {
    display: inline;
  }

  .sp {
    display: none;
  }
}

@media screen and (max-width: 680px) {
  .pc {
    display: none;
  }

  .sp {
    display: inline;
  }
}

