@charset "UTF-8";

/* =====================
contact
========================*/

.contact_intro_wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact_intro_wrapper::before {
  content: "";
  position: absolute;
  top: -19%;
  left: 0;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  box-shadow: 5px -4px 18px rgb(181, 181, 181);
}

.contact_intro_wrapper::after {
  content: "";
  position: absolute;
  top: 67%;
  left: 44%;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  box-shadow: 5px 3px 20px rgb(181, 181, 181);
}

.contact_intro_txt {
  width: 48%;
  height: auto;
}

.contact_intro_txt p {
  margin-top: 1.2rem;
}

.contact_intro_img {
  width: 40%;
  height: auto;
}

.contact_intro_img img {
  width: 100%;
  height: 100%;
}
/* =====================
contact form
========================*/
.contact_box {
  display: flex;
  align-items: center;
}