@charset "UTF-8";

/* =====================
contact
========================*/

.contact_intro_wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact_intro_wrapper::before {
  content: "";
  position: absolute;
  top: -19%;
  left: 0;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  box-shadow: 5px -4px 18px rgb(181, 181, 181);
}

.contact_intro_wrapper::after {
  content: "";
  position: absolute;
  top: 67%;
  left: 44%;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  box-shadow: 5px 3px 20px rgb(181, 181, 181);
}

.contact_intro_txt {
  width: 48%;
  height: auto;
}

.contact_intro_txt p {
  margin-top: 1.2rem;
}

.contact_intro_img {
  width: 40%;
  height: auto;
}

.contact_intro_img img {
  width: 100%;
  height: 100%;
}
/* =====================
contact form
========================*/
.contact_form {
  margin-top: 15%;
}

.contact_box {
  display: flex;
  align-items: center;
  margin-bottom: 7.5%;
}

.contact_box._area {
  align-items: baseline;
}

.contact_form_box1,
.contact_form_box2 {
  height: 7.5vh;
  width: 70%;
  padding-left: 5px;
}

.contact_textarea {
  width: 70%;
  height: 30vh;
  padding: 5px;
}

.contact_form_ttl {
  width: 35%;
  height: 100%;
  font-weight: bold;
  position: relative;
}

.contact_form_ttl::after {
  content: "必須";
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  color: #F81616;
  font-weight: normal;
  border: solid 1px #F81616;
  border-radius: 5px;
  width: 25%;
  text-align: center;
  line-height: 2;
}

.contact_btn1{
  text-align: center;
  margin: 0 auto;
  color: #fff;
  background: #210E0E;
  font-weight: bold;
  line-height: 4;
  display: block;
  width: 25%;
  height: 100%;
  cursor: pointer;
  transition: all 0.5s;
}

.contact_btn1:hover {
  opacity: 0.8;
  transition: all 0.5s;
}
/* =====================
レスポンシブ  1024
========================*/
@media screen and (max-width: 1024px) {
  .fv_txt_wrapper_2 {
    height: 48vh;
  }

  .fv_ttl_wrapper {
    height: 48vh;
  }

  .contact_intro_wrapper::after {
    width: 100px;
    height: 100px;
  }

  ..contact_form_box1,
  .contact_form_box2 { {
    height: 4.5vh;
  }
}
