@charset "UTF-8";

/* =====================
news
========================*/

.news_all {
  display: flex;
  justify-content: space-around;
}

.news_block1 {
  width: 30%;
  height: auto;
  background-color: aqua;
}

.news_item {
  padding-bottom: 2rem;
  border-bottom: solid 1px;
}

.news_block2 {
  width: 25%;
  height: auto;
    background-color: aqua;
}
.news_item_txt {
  display: flex;
}

.news_item_txt .topics {
  color: #A71414;
  border: solid 1px #A71414;
  margin: 0 5%;
}