@charset "UTF-8";

/* =====================
news
========================*/

.news_all {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.news_block1 {
  width: 50%;
  height: auto;
}

.news_item {
  border-bottom: solid 1px;
}

.news_item_txt {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.news_item_txt .topics {
  color: #A71414;
  border: solid 1px #A71414;
  margin: 0 5%;
  transition:all 0.2s;
}

.news_item_txt:hover .topics{
  transition: all 0.2s;
  transform: translateY(-5px);
}

.news_block2 {
  width: 20%;
  height: auto;
  padding: 4%;
  border: solid 1px;
}

.news_block2_item .blog_icon {
  position: relative;
  display: block;
  padding-left: 3rem;
  margin-bottom: 1rem;
  font-size: 0.95rem;

}

.news_block2_item .blog_icon::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 35px;
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #A71414;
}
.news_block2 .blok2_txt {
  margin-bottom: 2rem;
}

.news_block2_item {
  margin-bottom: 2rem;
}

/* =====================
blog
========================*/
.blog_list {
  display: flex;
  justify-content: space-between;
}

.blog_item {
  width: 28%;
  height: auto;
  box-shadow: 4px 4px 8px 4px rgb(154, 154, 154);
  transition: 0.4s;
}

.blog_item_img {
  width: 100%;
}

.blog_item_img img {
  width: 100%;
  height: 100%;
}

.blog_item_txt {
  width: 100%;
  height: auto;
  padding: 1rem;
  color: #000;
}

.blog_txt_ttl {
  font-weight: bold;
  padding: 1.6rem 0;
}

.blog_txt_txt {
  position: relative;
  font-size: 0.9rem;
  padding-bottom: 1rem;
}

.blog_txt_txt::after {
  content: "";
  position: absolute;
  bottom: 20%;
  left: 27%;
  width: 100%;
  height: 100%;
  background: url(../img/arrow.png) no-repeat center;
}

.blog_item.blog_item_2 {
  position: relative;
  top: 6rem;
}

.blog_item.blog_item_3 {
  position: relative;
  top: 16rem;
}

.blog_item:hover {
  transition: 0.4s;
  transform: translateY(-1rem);
}
/* =====================
レスポンシブ  768
========================*/
@media screen and (max-width: 768px) {
  .blog_item {
    width: 31%;
  }
}

/* =====================
レスポンシブ  480
========================*/
@media screen and (max-width: 480px) {
  .blog_all {
    display: block;
  }
  .blog_block1 {
    width: 100%;
  }

  .blog_block2 {
    width: 90%;
    margin: 0 auto;
  }

  .news_list {
    display: block;
    }
  
  .news_item {
    margin: unset;
    margin-bottom: 10%;
    width: 100%;
  }
  
  .news_item_txt {
    box-sizing: border-box;
  }
  
  .news_txt_txt::after {
    left: 70%;
  }
  
  .news_item.news_item_2,
  .news_item.news_item_3 {
    top: 0;
  }

}



