@charset "UTF-8";

/* =====================
news
========================*/

.news_all {
  display: flex;
  justify-content: space-evenly;
}

.news_item_txt {
  display: flex;
}

.news_item_txt p {
  
}