@charset "UTF-8";


/* =====================
service_intro
========================*/
.service_tex {
  text-align: center;
}

.service_all {
  margin: 10% 0;
}

.service_txt {
  width: 70%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.intro_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.intro_item {
  width: 30%;
  height: auto;
}

.intro_item_img {
  width: 100%;  
}

.intro_item_img img {
  width: 100;
  height: 100%;
}