@charset "UTF-8";


/* =====================
service_intro
========================*/
.service_intro {
  position: relative;
}

.service_intro::before {
  content: "";
  width: 100%;
  height: 100vh;
  ba
}
.service_tex {
  text-align: center;
}

.service_intro_all {
  margin: 15% 0;
}

.service_txt {
  width: 70%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.intro_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #fff;
}

.intro_item {
  width: 40%;
  height: auto;
  margin-bottom: 19%;
  border: solid 1px #441414;
}


.intro_item_img img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.intro_item_txt {
  padding: 5%;}

.intro_txt_ttl {
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

.intro_txt_txt {
  position: relative;
  padding-bottom: 1rem;
  font-size: 1rem;
}

.intro_item.intro_item_2 {
  position: relative;
  top: 7rem;
}

.intro_item.intro_item_4 {
  position: relative;
  top: 7rem;
}