@charset "UTF-8";


/* =====================
service_intro
========================*/
.service_tex {
  text-align: center;
}

.service_all {
  margin: 10% 0;
}

.service_txt {
  width: 70%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}